:root {
    --font-family-primary: "Lacquer", system-ui;
    --text-sm: 18px;
    --text-md: 28px;
    --text-lg: 42px;
    --color-black: black;
    --color-orange:#f97316;
    --color-white: #FFFFFF;
}

.dark {
    --color-black: white;
    --color-white: black;
}

.font-family-primary {
    font-family: var(--font-family-primary);
}

.text-sm {
    font-size: var(--text-sm);
}


.text-md {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.color-black {
    background: var(--color-black);
}

.color-white {
    color: var(--color-white);
}

.color-orange {
    color: var(--color-orange);
}

.bg-orange {
    background-color: var(--color-orange);
}

@media (max-width:991.98px) {
    :root {
        --text-lg: 38px;
    }
}

@media (max-width:767.98px) {
    :root {
        --text-lg: 32px;
    }
}